#side-bar {
  width: 30rem;
  box-shadow: 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 0 2.5rem 2.5rem 0;
  position: relative;
}

#side-bar .menu-ul {
  list-style: none;
  padding: 0 2rem;
}

#side-bar .menu-li {
  color: #141414;
  align-items: center;
  display: flex;
  height: 43px;
  margin: 0 1rem 1rem;
  padding: 0 2.25rem;
}

#side-bar .menu-li.active {
  background-color: #aaaaaa2f;
  border-radius: 8px;
  color: var(--first-color);
  font-weight: 600;
}

#side-bar .side-bar_logo img {
  width: 200px;
  height: 40px;
  margin: 2rem 1rem;
}

#side-bar .login-form-button {
  width: 15rem;
  border-radius: 0.6rem;
  height: 4rem;
  padding: 0 1.4rem;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  color: rgba(255, 0, 0, 0.548);
}
