.modal__container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: block;
  z-index: 50;
  top: 0;
  right: 0;
  background: rgba(225, 226, 227, 0.85);
  backdrop-filter: blur(2px);
  animation: opacity 0s ease-in forwards;

  z-index: 10000000;
}

.bg_hidden {
  background: rgba(225, 226, 227, 0.85);
}

@keyframes opacity {
  0% {
    background: rgba(26, 32, 64, 0.1);
  }
  30% {
    background: rgba(26, 32, 64, 0.2);
  }

  70% {
    background: rgba(26, 32, 64, 0.35);
  }
  100% {
    background: rgba(26, 32, 64, 0.5);
  }
}
