#admin-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#admin-layout .admin-layout_right {
  width: 100vw;
  height: 100vh;
  padding: 4rem 4rem 1rem;
}

#admin-layout .admin-header {
  display: flex;
  justify-content: flex-end;
}
