#register {
  min-width: 50%;
}

#register .login-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#register .login-header .login-header_h1 {
  font-size: 48px;
  font-weight: 700;
  color: #141414;
}

#register .login-header .login-header_title {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #8c8c8c;
  font-size: 20px;
  white-space: normal;
}

#register .form-input {
  border-radius: 0.6rem;
  padding: 0.4rem 1.1rem;
  height: 4rem;
  transition: all 0.3s;
}

#register .login-form-button {
  width: 100%;
  border-radius: 0.6rem;
  height: 4rem;
  padding: 0 1.4rem;
}
