#dashboard .title {
  display: flex;
  justify-content: flex-start;
  margin-top: 2.5rem;
  margin-bottom: 10rem;
}

#dashboard .chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
